body {
    background-color: black;
    margin: 0;
}

a {
    font-size: 25px;
    filter: opacity(.5);
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: rgb(24, 21, 21);
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #4CAF50;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

img {
    padding-top: 80px;
    width: 20%;
    height: 500px;
    float: left;
    padding: 15px;
    padding-left: 200px;
}

h2 {
    padding-top: 80px;
    color: white;
    text-align: center;
    font-size: 45px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    padding: 15px;
    max-width: 1200px;
    padding-top: 150px;
}

div,
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    padding: 15px;
    max-width: 1200px;
    padding-top: 150px;
}