body {
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 0px;
}

nav {
    background-color: #f0c4c4;
    display: block;
    height: 130px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-style: solid;
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 90px;
    height: 100px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    float: right;
}

.menu-btn_burger {
    width: 60px;
    height: 6px;
    background: rgb(0, 0, 0);
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 6px;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before {
    transform: translateY(-16px);
}

.menu-btn_burger::after {
    transform: translateY(16px);
}


/* Animation */

.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.menu-btn.open ul {
    display: inline;
    position: fixed;
    top: 44px;
    margin: 0;
    padding: 0;
    width: 200px;
    list-style: none;
}

.menu-btn_burger ul {
    display: none;
    position: fixed;
    top: 80px;
    margin: 0;
    padding: 0;
    width: 200px;
    list-style: none;
}

ul li {
    display: block;
    width: auto;
}

ul li a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    display: block;
    padding: 35px;
}

ul li a:hover {
    background-color: rgb(168, 166, 166);
}

#logo {
    display: block;
    position: fixed;
    height: 120px;
    top: 0px;
    margin-top: 3px;
}

.footer {
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 0px;
    width: 100%;
    height: 50px;
    text-align: center;
}

p a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-decoration: none;
}

h1 {
    text-align: center;
    font-size: xx-large;
    font-family: fantasy;
}