body {
    background-color: black;
    margin: 0;
}

a {
    font-size: 25px;
    filter: opacity(.5);
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: rgb(24, 21, 21);
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #4CAF50;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

h2 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: lighter;
    text-align: center;
}

h1 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}


/*img {
    padding: 100px;
    padding-top: 0px;
    height: 600px;
}